# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [64]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

In [65]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [66]:
# Read the WeatherPy_vacation.csv into a DataFrame
file_path = "../Vacation_Search/WeatherPY_vacation.csv"
vacation_df = pd.read_csv(file_path)

# Display sample data
vacation_df

,Hotel_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,6,Kilindoni,TZ,76.26,-7.9139,39.6668,Bustani B&B
1,7,Likasi,CD,75.99,-10.9814,26.7333,TABERNACLE DE LIKASI
2,13,Porto Murtinho,BR,79.99,-21.6989,-57.8825,Hotel Pantanal
3,15,Victoria,HK,75.33,22.2855,114.1577,Mini Central
4,21,Kanniyakumari,IN,78.82,8.0833,77.5667,Sparsa Kanyakumari
...,...,...,...,...,...,...,...
204,681,Ilhabela,BR,76.10,-23.7781,-45.3581,Ilha Flat Hotel
205,682,Ariquemes,BR,82.22,-9.9133,-63.0408,Hotel Sol Nascente - Ariquemes - RO
206,686,Cururupu,BR,85.10,-1.8283,-44.8683,POUSADA TRAVÉS'CIA
207,689,Nsanje,MW,81.18,-16.9200,35.2620,Nsanje Discovery Lodge
208,692,Aplahoue,BJ,78.42,6.9333,1.6833,Hotel Immaculee

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [67]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [68]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [69]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [76]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df.City=='Ariquemes']
vacation_end = vacation_df.loc[vacation_df.City=='Ariquemes']
vacation_stop1 = vacation_df.loc[vacation_df.City=='Cobija']
vacation_stop2 = vacation_df.loc[vacation_df.City=='Sena Madureira']
vacation_stop3 = vacation_df.loc[vacation_df.City=='Jacareacanga']

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [78]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[['Lat','Lng']].to_numpy()
end = vacation_end[['Lat','Lng']].to_numpy()
stop1 = vacation_stop1[['Lat','Lng']].to_numpy()
stop2 = vacation_stop2[['Lat','Lng']].to_numpy()
stop3 = vacation_stop3[['Lat','Lng']].to_numpy()

array([[-11.0267, -68.7692]])

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [79]:
Ariquemes = (-9.91, -63.04)
Cobija = (-11.02, -68.76)
Sena_Madureira = (-9.06, -68.65)
Jacareacanga = (-6.22, -57.75)


# Define a new figure object
fig = gmaps.figure()

# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
vacation_itinerary = gmaps.directions_layer(Ariquemes, Ariquemes, waypoints=[Cobija, Sena_Madureira, Jacareacanga], travel_mode="WALKING")

# Add the layer to the map
fig.add_layer(vacation_itinerary)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [80]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,Hotel_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,682,Ariquemes,BR,82.22,-9.9133,-63.0408,Hotel Sol Nascente - Ariquemes - RO
1,313,Cobija,BO,86.18,-11.0267,-68.7692,Hotel Obelisco
2,59,Sena Madureira,BR,83.08,-9.0656,-68.6569,Hotel Central
3,61,Jacareacanga,BR,89.26,-6.2222,-57.7528,Casa do Ian😎

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [97]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat","Lng"]]

In [98]:
# Add a marker layer for each city to the map.
# Define a new figure object
# Add the layer to the map
# Display the map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))